#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"station"/}


<section class="ui segment">
    <div class="ui five doubling cards">
        <div class="ui inverted card">
            <div class="extra content">
          <span class="right floated">
            <i class="huge icons">
              <i class="red map marker icon"></i>
            </i>
          </span>
                <div class="header">
                    <h3>${station.name}</h3>
                </div>

            </div>
        </div>
        <div class="ui inverted card">
            <div class="extra content">
          <span class="right floated">
            <i class="huge icons">
              <i class="yellow cloud sun rain icon"></i>
            </i>
          </span>
                <div class="header">
                    <h3>Weather</h3>
                </div>
                <p></p>
                <p>${station.weatherCodes}</p>
            </div>
        </div>
        <div class="ui inverted card">
            <div class="extra content">
          <span class="right floated">
            <i class="huge icons">
              <i class="orange temperature high icon"></i>
            </i>
          </span>

                <div class="header">

                    <h3>Temperature</h3>
                </div>
                <p></p>
                <p>

                    ${station.tempC} °C
                    <br>
                    ${station.tempF} °F

                </p>
            </div>

        </div>
        <div class="ui inverted card">
            <div class="extra content">
          <span class="right floated">
            <i class="huge icons">
              <i class="teal wind icon"></i>
            </i>
          </span>
                <div class="header">
                    <h3>Wind</h3>
                </div>
                <p></p>
                <p>

                    Bft: ${station.beaufortConversion}<br>
                    ${station.windCompass}<br>
                    Feels like: ${station.windChill} °C

                </p>
            </div>
        </div>
        <div class="ui inverted card">
            <div class="extra content">
          <span class="right floated">
            <i class="huge icons">
              <i class="blue tachometer alternate icon"></i>
            </i>
          </span>
                <div class="header">
                    <h3>Pressure</h3>
                </div>
                <p></p>
                <p>
                    ${station.pressure} Hpa

                </p>
            </div>
        </div>
    </div>
    #{readings stations:station/}
    #{addreading stations:station/}

</section>
